

{% extends "base.html" %}
{% load static %} 

{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static 'front/css/cover.css' %}" />{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="error-template">
	    <h1>Oops!</h1>
	    <h2>Somenthing went wrong!</h2>
	    <div class="error-details">
            <p>If you were in the middle of something, your deposit is safe and you can come back to play again.</p><br>
            <p>Error message: <b>{{ exception }}</b></p>

	    </div>
	    <div class="error-actions">
		<a href="/" class="btn btn-primary">
		    <i class="icon-home icon-white"></i> Take Me Home </a>
		<a href="mailto:sillygamble.help@outlook.com" class="btn btn-default">
		    <i class="icon-envelope"></i> Contact Support </a>
	    </div>
	</div>
    </div>
</div>
{% endblock %}