{% extends "home/home_base.html" %}

{% block about_active %}active{% endblock %}

{% block home_content %}
<h1 class="cover-heading">Vision, mission and more</h1>
<p class="lead">We aim to become a well trusted bitcoin game option, offering a fair game with no tricks, no tech magic. Pure and simple probabilities and randomness. If you have any question/suggestion email us: <a href="mailto:sillygamble.help@outlook.com" class="badge badge-light"><i class="icon-envelope"></i> sillygamble.help@outlook.com</a></p>
<br>
<h1 class="cover-heading">Games</h1>
<p class="lead">Currently we host one single game named Monty Hall (named after the <a href="https://en.wikipedia.org/wiki/Monty_Hall_problem">Monty Hall paradox</a></p>
{% endblock %}