{% extends "home/home_base.html" %}

{% block home_content %}
<h1 class="cover-heading">Be responsable!</h1>
<h3 class="cover-heading">Gambling is a problem if it causes problems</h3>
<br>
<p class="lead">If you have a known problem with gambling, please leave!
    We are not here to sell you the idea that gambling is a form of investment. Far from that! 
    This website exists for those who have extra bitcoins fractions and are willing to take the risks to double it or triple it, without compromising their lives, families or personal budget.</p>
    <p><a class="btn btn-primary btn-lg" href="https://www.helpguide.org/articles/addictions/gambling-addiction-and-problem-gambling.htm" role="button">Learn more</a></p>
{% endblock %}