{% extends "home/home_base.html" %}

{% block trust_active %}active{% endblock %}

{% block home_content %}
<h1 class="cover-heading">Trust is something you earn</h1>
<p class="lead">We understand that. So, before to bet any amount of bitcoin, what about access the game in test mode? During the game you will find further instructions on how to proceed and will have access to proof information. This can be proftable for both of us: you can take a better look on how things works and we can check for bugs during your staying.</p>
<p><h2><a href="/montyhall/test/" class="btn btn-outline-success" role="button" aria-pressed="true">TEST MODE</a></h2></p>
{% endblock %}